*{
    font-family: 'Varela Round', sans-serif;
}
body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(300px,1fr) minmax(150px,auto) 1fr 1fr;
    font-size: 1em;
    color:#EDF2F3;
    background:white;

}

header{
    display: flex;
    flex-direction: column;
    background: #1F3541;
    
}
header h1{
align-self: auto;
}
#menius{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #AFD8F2;
    width: 90%;
    font-size: 2em;
    border-radius: 5% 5%;
    align-self: center;
    margin-top: 2px;
    color: #1F3541;
}
aside{
    background: #AFD8F2;
    color: #1F3541;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}